.focus-list a {
	z-index: 3;
}
.carousel-indicators {
	z-index: 15;
}
.direction-nav .nav-prev .prev-btn,.direction-nav .nav-next .next-btn{
	z-index: 10;
}
#footer .section-f1-fix {
	z-index: 1000;
}
#top {
	z-index: 999;
}